

.counter-component {
  background-color: #1eb4d1;
  border: 1px solid #198aa2;
  display: inline-block;
  user-select: none;
  padding: 20px;
  .comp-props {
    color: white;
    .increase-button {
      background-color: white;
      margin-left: 40px;
      padding: 4px 6px;
      cursor: pointer;
      color: black;
      &:hover {
        filter: drop-shadow(2px 4px 6px black);
      }
    }
  }
}
